.about {
    display: flex;
    justify-content: flex-start;
    height: 30rem;
    align-items: center;


    &__photo {
        img {
            border: 1px solid #ddd;
            border-radius: 50%;
            padding: 5px;
            width: 300px;
        }
    }

    &__info {
        margin-left: 4rem;
        width: 60%;

        &--download-btn:hover {
            transition-delay: 0.3s;
            background-color: #115293;
        }

        .fab {
            font-size: 1.5rem;
            margin-right: 1rem;
        }
    }
}
