.navbar {
    display: flex;
    justify-content: space-between;
    padding: 2rem;

    h1{
        margin: 1rem 0;
    }

    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;


        &__nav-link {
            padding: 0.5rem;
            text-decoration: none;
            color: black;
        }
        &__nav-link:hover {
            cursor: pointer;
            border-radius: 2px;
            background-color: #1976D2;
            color: #fff;
        }
    }
}