.mainContainer {
  display: flex;
  justify-content: center;
}

.skillsContainer {
  width: 40vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.skillsContainer {
  width: 40vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .skillsContainer {
    width: auto;
  }

  .skillsContainer {
    width: auto;
  }
}
