body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    max-width: 1200px;
    margin: auto;
    padding: 0;
}

.btn {
    background-color: #1976D2;
    color: white;
    border: none;
    cursor: pointer;
    padding: 12px 22px;
    border-radius: 100px;
    outline: none;
}